/* Variable */
:root {
  --primary-color: #ff72b4;
  --white-color: #ffffff;
  --secondary-color: #333333;
  --third-color: #555555;
  --finaly-color: #999999;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-popins: 'Poppins', sans-serif;
  --font-size-base: 14px;
}

* {
  box-sizing: border-box;
  font-family: var(--font-open-sans);
}