/* Header */
/* animation */
@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0%);
  }

  to {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes fade {
  from {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}

header {
  position: relative;
  height: 500px;
  color: var(--white-color)
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header {
    height: 600px;
  }
}

@media (min-width: 992px) {
  header {
    height: 800px;
  }
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider:hover .slider__prev {
  left: 15px;
  opacity: 1;
}

.slider:hover .slider__next {
  right: 15px;
  opacity: 1;
}


.slider-item {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  animation: fade 2s ease-out;
  display: none;
}

.slider-item.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .slider-item {
    height: 600px;
  }
}

@media (min-width: 992px) {
  .slider-item {
    height: 800px;
  }
}


.slider-item1 {
  background-image: url(../images/slide1.jpg);
}

.slider-item2 {
  background-image: url(../images/slide2.jpg);
}

.slider-item3 {
  background-image: url(../images/slide3.jpg);
}

.slider-item-content {
  height: 186px;
  position: absolute;
  bottom: 60px;
  animation: scaleUp 1s ease-out;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .slider-item-content {
    width: 750px;
    bottom: 120px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .slider-item-content {
    width: 970px;
    bottom: 300px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .slider-item-content {
    width: 1170px;
  }
}

.slider-item-content__title1 {
  font-family: var(--font-popins);
  text-transform: uppercase;
  font-size: 24px;
  line-height: 26px;
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.slider-item-content__title2 {
  font-family: var(--font-popins);
  text-transform: uppercase;
  font-size: 50px;
  line-height: 57px;
  color: var(--white-color);
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.slider-item-content__title2 sup {
  font-size: 24px;
  top: -20px;
}

.slider-item-content__title3 {
  font-family: var(--font-popins);
  text-transform: uppercase;
  font-size: 50px;
  line-height: 57px;
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  font-weight: 700;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .slider-item-content__title1 {
    font-size: 48px;
    line-height: 53px;
  }

  .slider-item-content__title2 {
    font-size: 100px;
    line-height: 110px;
    margin: -30px 0 0;
  }

  .slider-item-content__title2 sup {
    font-size: 48px;
    top: -40px;
  }

  .slider-item-content__title3 {
    font-size: 100px;
    line-height: 110px;
    margin: -30px 0 0;
  }
}

.slider-item-content__action {
  margin-top: 10px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .slider-item-content__action {
    margin: 25px 0 0;
  }
}

.slider-item-content__action a {
  display: inline-block;
  text-decoration: none;
  height: 40px;
  line-height: 36px;
  padding: 0 20px;
  margin: 0 5px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .slider-item-content__action a {
    padding: 0 25px;
  }
}


.slider-item-content__action a:first-child {
  background-color: var(--white-color);
  color: var(--third-color);
  border: 2px solid var(--white-color);
}

.slider-item-content__action a:first-child:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-color: var(--primary-color);
}

.slider-item-content__action a:nth-child(2) {
  color: var(--white-color);
  border: 2px solid var(--white-color);
}

.slider-item-content__action a:nth-child(2):hover {
  background-color: var(--primary-color);
}

.slider__prev, .slider__next {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  font-size: 12px;
  border-radius: 50%;
  color: var(--white-color);
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.slider__prev:hover, .slider__next:hover {
  background-color: var(--primary-color);
}

.slider__prev i, .slider__next i {
  display: block;
  line-height: 60px;
}


.slider__prev {
  left: -70px;
  opacity: 0;
}

.slider__next {
  right: -70px;
  opacity: 0;
}

.header-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2)
}

.header-top {
  height: 40px;
  border-bottom: 1px solid #ababaa;
  width: calc(100% - 30px);
  margin: 0 auto;
}

.header-contact {
  text-align: center;
  list-style: none;
  padding: 0;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.header-contact__item:first-child {
  display: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .header-contact__item:first-child {
    display: inline-block;
  }
}

.header-contact__item {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header-contact {
    text-align: left;
  }
}

.header-currency {
  list-style: none;
  font-size: 14px;
  padding: 0;
  margin: 0;
  display: none;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header-currency.col {
    display: flex;
    justify-content: flex-end;
  }
}

.header-language, .header-money {
  position: relative;
  padding: 0 10px;
  line-height: 40px;
  cursor: pointer;
}

.header-language:hover, .header-money:hover {
  color: var(--primary-color);
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.header-language i, .header-money i {
  font-size: 10px;
  margin-left: 5px;
}

.header-language__list, .header-money__list {
  z-index: 10;
  position: absolute;
  top: calc(100% + 30px);
  visibility: hidden;
  opacity: 0;
  right: 0;
  list-style: none;
  padding: 10px;
  background-color: var(--white-color);
  color: var(--secondary-color);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.header-language:hover .header-language__list,
.header-money:hover .header-money__list {
  top: 100%;
  visibility: visible;
  opacity: 1;
}

.header-language__list li, .header-money__list li {
  padding: 7px 10px;
  background-color: #fafafa;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 14px;
  border-bottom: 1px solid var(--white-color);
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.header-language__list li:hover,
.header-money__list li:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.header-language__list li img, .header-money__list li img {
  display: block;
  margin-right: 10px;
}

.header-money__list li span {
  display: inline-block;
  margin-right: 10px;
}

.header-bottom {
  padding: 25px 0;
}

.header-title {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0;
  margin-top: 9px;
  margin-bottom: 20px;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .header-title {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }
}

.header-title span {
  font-family: var(--font-popins);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  color: var(--white-color);
  line-height: 50px;
}

.header-title span:first-child {
  color: var(--primary-color);
}

/* Menu mobile */
.header-toggle {
  position: relative;
}

.header-toggle>i {
  display: block;
  color: var(--primary-color);
  font-size: 30px;
  margin-top: 5px;
}

.menu-mobile-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  transform: translateX(-320px);
  -webkit-transform: translateX(-320px);
}

.menu-mobile-wrapper.active {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.menu-mobile {
  width: 290px;
  background-color: var(--white-color);
  color: var(--secondary-color);
  list-style: none;
  padding: 0 15px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
}

.menu-mobile__item {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

.menu-mobile__item span {
  position: absolute;
  top: 0;
  right: -15px;
  display: block;
  height: 100%;
  width: 40px;
  line-height: 38px;
  text-align: center;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header-menu {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
  }

}

.header-menu__item {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.header-menu__item:hover {
  color: var(--primary-color);
}

.header-menu__item i {
  margin-left: 10px;
  font-size: 10px;
  height: 50px;
  line-height: 50px;
}

.menu-item {
  position: relative;
}

.menu-item--mega {
  position: static;
}

.menu-item:hover .menu-item__content {
  visibility: visible;
  top: 100%;
  opacity: 1;
}

.menu-item__content {
  visibility: hidden;
  opacity: 0;
  font-size: 14px;
  color: var(--third-color);
  background-color: var(--white-color);
  padding: 25px;
  position: absolute;
  top: calc(100% + 30px);
  left: 0;
  display: flex;
  cursor: default;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
}

.menu-sub {
  padding: 0 15px;
}

.menu-sub__title {
  font-size: 14px;
  margin-bottom: 20;
  padding-bottom: 15px;
}

.menu-sub__list {
  list-style: none;
  padding: 0;
  font-weight: 400;
}

.menu-sub__list li a {
  display: block;
  text-decoration: none;
  color: var(--third-color);
  line-height: 16px;
  text-transform: capitalize;
  padding: 10px 0;
  border-top: 1px solid #e5e5e5;
  width: 210px;
  cursor: pointer;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.menu-sub__list li sup {
  color: red;
  font-weight: 700;
  margin-left: 5px;
}

.featured-product-list {
  width: 985px;
}

.menu-mega {
  display: flex;
  width: 100%;
  margin-right: -15px;
}

.menu-mega-adv {
  padding: 0;
}

.menu-mega-adv__img img {
  display: block;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.menu-mega-adv__img {
  overflow: hidden;
  cursor: pointer;
}

.menu-mega-adv__img:hover img {
  transform: scale(1.2);
}

.menu-mega-adv__title {
  font-size: 18px;
  color: var(--secondary-color);
  margin: 25px 0 8px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  cursor: pointer;
}

.menu-mega-adv__title:hover {
  color: var(--primary-color);
}

.menu-mega-adv__desc {
  font-size: 14px;
  font-weight: 400;
  color: var(--third-color);
  text-transform: initial;
  line-height: 24px;
  margin: 0;
}

.menu-mega-product {
  padding: 0 0 15px 15px;
  position: relative;
}

.menu-mega-product__title {
  font-size: 14px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  margin: 0 15px 20px 15px;
  font-family: var(--font-popins);
  border-bottom: 1px solid #e5e5e5;
}

.featured-product-control {
  display: flex;
  position: absolute;
  right: 15px;
  top: -10px;
}

.featured-product-control__prev, .featured-product-control__next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  margin: 1px;
  cursor: pointer;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.featured-product-control__prev:hover, .featured-product-control__next:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.featured-product-control__prev i, .featured-product-control__next i {
  line-height: 26px;
}

.menu-mega-product__list {}

.featured-product__content {
  display: flex;
  width: 562px;
  overflow: hidden;
}

.featured-product-item {
  width: 50%;
  padding: 0 15px;
}

.featured-product-item__title a {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--third-color);
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.featured-product-item__title:hover a {
  color: var(--primary-color);
}

.featured-product-item__rating {
  height: 13px;
  overflow: hidden;
  margin-bottom: 13px;
  position: relative;
}

.featured-product-item__rating img {
  display: inline-block;
}

.featured-product-item__rating span {
  display: inline-block;
  position: absolute;
  top: 0;
  font-size: 14px;
  padding-left: 3px;
  font-weight: normal;
  text-transform: lowercase;
}

.featured-product-price {}

.featured-product-price__old {
  text-decoration: line-through;
  font-weight: 400;
}

.featured-product-price__new {
  font-weight: 400;
  color: var(--primary-color);
  margin-left: 8px;
}

.menu-sub__list li:hover a {
  color: var(--primary-color);
}

.menu-multi {
  padding: 0;
}

.menu-first {
  list-style: none;
  padding: 0;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
}

.menu-first__item {
  padding: 0 15px;
  cursor: pointer;
  position: relative;
}

.menu-first__item a {
  display: block;
  text-decoration: none;
  color: var(--third-color);
  padding: 11px 0;
  width: 170px;
  font-weight: 400;
  text-transform: initial;
  border-top: 1px solid #e5e5e5;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}


.menu-first__item a:hover {
  color: var(--primary-color);
}

.menu-first__item:hover .menu-secondary__item {
  color: var(--secondary-color)
}

.menu-first__item i {
  height: unset;
  line-height: unset;
  position: absolute;
  right: 15px;
  margin-top: 3px;
}

.menu-first__item:hover .menu-secondary {
  visibility: visible;
  opacity: 1;
  top: 0;
}

.menu-secondary {
  display: block;
  padding: 0;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 100%;
  top: 15px;
  list-style: none;
  background-color: var(--white-color);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.menu-secondary__item {
  padding: 0 15px;
}

.menu-secondary__item a {
  padding: 11px 0;
  width: 170px;
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.menu-secondary__item a:hover {
  color: var(--primary-color);
}

.header-infomation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--white-color);
}

.header-search {
  display: none;
  position: relative;
}

.header-search input {
  border: none;
  outline: none;
  height: 100%;
  position: absolute;
  width: 0;
  right: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-out 0s;
  font-size: 14px;
  padding: 20px;
}

.header-search:hover input {
  width: 190px;
  visibility: visible;
  opacity: 1;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .header-search {
    display: block;
    cursor: pointer;
  }
}

.header-user {
  position: relative;
  cursor: pointer;
}

.header-user:hover {
  color: var(--primary-color);
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.header-user__content {
  position: absolute;
  top: calc(100% + 30px);
  left: 0;
  visibility: hidden;
  opacity: 0;
  min-width: 180px;
  background-color: var(--white-color);
  font-size: 14px;
  padding: 10px;
  line-height: 1;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.header-user__content a {
  display: block;
  text-decoration: none;
  padding: 7px 10px;
  color: var(--third-color);
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.header-user__content a:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.header-user__content i {
  padding-right: 10px;
}

.header-user:hover .header-user__content {
  top: 100%;
  visibility: visible;
  opacity: 1;
}

.header-user, .header-heart, .header-search {
  font-size: 18px;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.header-heart {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

.header-heart::after {
  content: "0";
  font-size: 10px;
  display: block;
  position: absolute;
  top: -7px;
  right: 3px;
}

.header-heart:hover {
  color: var(--primary-color);
}


.header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.3);
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.header-cart:hover {
  color: var(--primary-color);
}

.header-cart:hover .header-cart__list {
  top: calc(100% + 2px);
  visibility: visible;
  opacity: 1;
}

.header-cart i {
  font-size: 18px;
  margin: 0 10px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.header-cart>i {
  padding-left: 8px;
  padding-bottom: 4px;
}

.header-cart__total {
  padding-right: 18px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.header-cart__down {
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  width: 30px;
}

.header-cart__down i {
  font-size: 12px;
}

.header-cart__list {
  position: absolute;
  top: calc(100% + 30px);
  right: -2px;
  visibility: hidden;
  opacity: 0;
  width: 290px;
  padding: 30px 15px;
  background-color: var(--white-color);
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  transition: all 0.5s ease-out 0s;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  -webkit-transition: all 0.5s ease-out 0s;
}

/* Main */
/* Service */
.service-wrapper {
  background-color: #fbfbfb;
  margin-bottom: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  text-align: center;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .service-item {
    flex-direction: row;
    margin: 0;
  }
}

.service-item__icon {
  color: var(--white-color);
  font-size: 30px;
  height: 60px;
  text-align: center;
  width: 60px;
  line-height: 58px;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.service-item__icon:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .service-item__icon {
    margin-right: 20px;
  }
}

.service-content {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 60px;
  font-size: 14px;
  color: var(--third-color);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .service-content {
    text-align: left;
  }
}

.service-content__title {
  font-family: var(--font-popins);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding: 0;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.service-content__title:hover {
  color: var(--primary-color);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .service-content__title {
    margin: 0;
  }
}

.service-content__desc {
  padding: 0;
  margin: 0;
  line-height: 24px;
}

/* Category */
@keyframes ScaleDown {
  from {
    opacity: 0;
    visibility: hidden;
    transform: scale(150%);
    -webkit-transform: scale(150%);
  }

  to {
    opacity: 1;
    visibility: visible;
    transform: scale(100%);
    -webkit-transform: scale(100%);
  }
}

.category {
  margin-bottom: 60px;
}

.category.row {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.category.row::-webkit-scrollbar {
  display: none;
}

.category-item {
  margin-bottom: 30px;
}

.category-item__img {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 27px;
  cursor: pointer;
  text-decoration: none;
}

.category-item__img img {
  display: block;
}

.category-item__img img:first-child {
  display: block;
  width: 100%;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}

.category-item__img img:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  visibility: visible;
}

.category-item__img:hover img:first-child {
  opacity: 0;
  visibility: hidden;
}

.category-item__img:hover img:nth-child(2) {
  animation: ScaleDown 0.5s ease-out;
  opacity: 1;
}

.category-item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-title {
  font-family: var(--font-popins);
  text-transform: uppercase;
  font-size: 18px;
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 18px;
  cursor: pointer;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  position: relative;
}

.category-title:hover {
  color: var(--primary-color);
}

.category-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}

.category-btn {
  display: inline-block;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secondary-color);
  padding: 8px 25px;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.category-btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* Collection */
.collection-wrapper {
  background-color: lightskyblue;
  padding-top: 65px;
  padding-bottom: 65px;
  margin-bottom: 60px;
}

.collection-new {
  padding: 0;
}

.collection-new__title {
  margin-bottom: 50px;
  text-align: center;
}

.collection-new__content {
  height: 550px;
  background-color: lightgray;
  padding: 15px;
  border: 1px solid lightgreen;

}

.collection-sale {
  padding: 0;
}

.collection-sale__title {
  margin-bottom: 50px;
  text-align: center;
}

.collection-sale__content {
  height: 550px;
  background-color: lightgray;
  padding: 15px;
  border: 1px solid lightgreen;
}

/* Brand */

.brand-title {
  text-align: center;
  font-family: var(--font-popins);
  text-transform: uppercase;
  font-size: 30px;
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 15px;
  position: relative;
}

.brand-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}

.brand-list.row {
  flex-wrap: nowrap;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

.brand-item {
  margin-bottom: 30px;
}

.brand-item__img {
  border: 1px solid #e5e5e5;
  cursor: pointer;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.brand-item__img:hover {
  border-color: var(--primary-color);
  box-shadow: 0 7px 20px 0 rgb(0 0 0 / 10%);
}

.brand-item__img img {
  width: 100%;
}

/* Product */
.product-wrapper {
  background-color: #fbfbfb;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 65px;
  padding-bottom: 40px;
}

.product-item {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  margin-bottom: 30px;
}

.product-item:hover {
  box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
}

.product-title {
  text-align: center;
  font-family: var(--font-popins);
  text-transform: uppercase;
  font-size: 30px;
  color: var(--secondary-color);
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 15px;
  position: relative;
}

.product-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}

.product-tabs {
  text-align: center;
  margin-bottom: 30px;
}

.product-tabs-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-tabs-item {
  display: inline-block;
  margin: 0 18px;
  text-decoration: none;
  font-family: var(--font-popins);
  text-transform: uppercase;
  color: var(--secondary-color);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.product-tabs-item:hover {
  color: var(--primary-color);
}

.product-tabs-item.active {
  color: var(--primary-color);
}

.product-list-wrapper {
  padding: 0;
  position: relative;
  overflow: hidden;
}

.product-list.row {
  flex-wrap: nowrap;
  padding-left: 0;
  padding-right: 0;
  display: none;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.product-list.row.active {
  display: flex;
}

.product-list-wrapper__prev, .product-list-wrapper__next {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 37%;
  width: 40px;
  height: 40px;
  display: block;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
}

.product-list-wrapper:hover .product-list-wrapper__prev,
.product-list-wrapper:hover .product-list-wrapper__next {
  visibility: visible;
  opacity: 1;
}

.product-list-wrapper__prev:hover, .product-list-wrapper__next:hover {
  background-color: var(--primary-color);
}

.product-list-wrapper__prev i, .product-list-wrapper__next i {
  display: block;
  line-height: 40px;
  font-size: 14px;
  color: var(--white-color);
}

.product-list-wrapper__prev {
  left: 0;
}

.product-list-wrapper__next {
  right: 0;
}


.product-item {
  border: 2px solid #e5e5e5;
}

.product-item__img {
  position: relative;
  overflow: hidden;
}

.product-item__view {
  position: absolute;
  text-align: center;
  background: var(--white-color);
  border-radius: 50%;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  top: 20px;
  left: 20px;
  width: 40px;
  z-index: 10;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  cursor: pointer;
}

.product-item__view i {
  font-size: 18px;
  line-height: 18px;
}

.product-item__view:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.product-item__img:hover .product-item__view {
  transform: scale(100%);
  -webkit-transform: scale(100%);
}

.product-item__img img {
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.product-item__img:hover img {
  transform: scale(110%);
}

.product-item__img::after {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.product-item__img:hover::after {
  opacity: 1;
}

.product-item__img img {
  display: block;
  width: 100%;
}

.product-item__title {
  margin-top: 0;
  margin-bottom: 9px;
  padding: 0 15px;
}

.product-item__title a {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--third-color);
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.product-item__title:hover a {
  color: var(--primary-color);
}

.product-item__rating {
  padding: 0 15px;
  height: 13px;
  overflow: hidden;
  margin-bottom: 7px;
  margin-left: -3px;
  position: relative;
}

.product-item__rating img {
  display: inline-block;
}

.product-item__rating span {
  display: inline-block;
  position: absolute;
  top: 0;
  font-size: 14px;
  padding-left: 3px;
  font-weight: normal;
  text-transform: lowercase;
}

.product-footer {
  height: 50px;
  padding: 0 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: content;
}

.product-price {
  color: var(--primary-color);
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

.product-action {
  list-style: none;
  margin: 0 0 7px 0;
  padding: 0;
  height: 30px;
  line-height: 30px;
}

.product-action__item {
  display: inline-block;
  position: relative;
}

.product-action__item a {
  text-decoration: none;
  display: inline-block;
  color: var(--secondary-color);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.product-action__item a i {
  font-size: 14px;
  color: #999999;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.product-action__item span {
  font-size: 12px;
  white-space: nowrap;
  height: 21px;
  line-height: 21px;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 0 10px;
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.product-action__item:hover>span {
  visibility: visible;
  opacity: 1;
}

.product-action__item:hover a i {
  color: var(--primary-color);
}


/* post */
.post-wrapper {
  padding-top: 65px;
  padding-bottom: 65px;
}

.post-title {
  text-align: center;
  font-family: var(--font-popins);
  text-transform: uppercase;
  font-size: 30px;
  color: var(--secondary-color);
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-bottom: 15px;
  position: relative;
}

.post-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}

.post-list-wrapper {
  padding: 0;
  position: relative;
  overflow: hidden;
}

.post-list-wrapper__prev, .post-list-wrapper__next {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 24%;
  width: 40px;
  height: 40px;
  display: block;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
}

.post-list-wrapper__prev {
  left: 0;
}

.post-list-wrapper__next {
  right: 0;
}

.post-list-wrapper__prev i, .post-list-wrapper__next i {
  display: block;
  line-height: 40px;
  font-size: 14px;
  color: var(--white-color);
}

.post-list-wrapper:hover .post-list-wrapper__prev,
.post-list-wrapper:hover .post-list-wrapper__next {
  visibility: visible;
  opacity: 1;
}

.post-list-wrapper__prev:hover, .post-list-wrapper__next:hover {
  background-color: var(--primary-color);
}

.post-list.row {
  flex-wrap: nowrap;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.post-item {
  border: 1px solid #f5f5f5;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  margin-bottom: 30px;
}

.post-item:hover {
  box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
}

.post-item__img {
  text-decoration: none;
  display: block;
  position: relative;
  overflow: hidden;
}

.post-item__img a {
  display: block;
}

.post-item__img a img {
  display: block;
  width: 100%;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.post-item__img:hover img {
  transform: scale(110%);
}

.post-item__date {
  position: absolute;
  text-align: center;
  background: var(--white-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 20px;
  left: 20px;
  z-index: 10;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  cursor: pointer;
}

.post-item:hover .post-item__date {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.post-item__date span {
  display: inline-block;
}

.post-item__date span:first-child {
  font-size: 10px;
  line-height: 11px;
}

.post-item__date span:last-child {
  font-size: 14px;
  line-height: 16px;
}

.post-item-content {
  padding: 20px 15px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .post-item-content {
    padding: 30px;
  }
}

.post-item-content__title {
  margin: 0 0 15px;
  line-height: 13px;
}

.post-item-content__title:hover a {
  color: var(--primary-color);
}

.post-item-content__title a {
  text-decoration: none;
  font-family: var(--font-popins);
  font-size: 14px;
  color: var(--third-color);
  text-transform: uppercase;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.post-item-content__author {
  font-size: 12px;
  color: #999999;
  margin-bottom: 13px;
}

.post-item-content__author a {
  color: #999999;
  text-decoration: none;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.post-item-content__author a:hover {
  color: var(--primary-color);
}

.post-item-content__desc {
  font-size: 14px;
  line-height: 24px;
  color: var(--third-color);
  margin-bottom: 20px;
}

.post-item-content__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}

.post-item-content__footer>a {
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  color: var(--secondary-color);
  padding: 0 25px;
  text-transform: uppercase;
  background-color: var(--white-color);
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 36px;
  line-height: 32px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.post-item-content__footer>a:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.post-item-content__footer ul {
  padding: 0;
  list-style: none;
  margin: 0;
  margin-right: -10px;
}

.post-item-content__footer ul li {
  display: inline-block;
  position: relative;
}

.post-item-content__footer ul li:hover a {
  color: var(--primary-color);
}

.post-item-content__footer ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  color: var(--third-color);
  color: #999999;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.post-item-content__footer ul li a sup {
  font-size: 11px;
  color: #999999;
  margin-left: 2px;
}

/* Footer */
footer {
  margin-top: 65px;
}

.footer-top-wrapper {
  background-color: #f4f4f4;
}

.footer-top {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0 10px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .footer-top {
    padding: 50px 0;
  }
}

.footer-top__connect, .footer-top__order, .footer-top__social {
  margin-bottom: 20px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .footer-top__connect, .footer-top__order, .footer-top__social {
    margin-bottom: 0;
  }
}

.footer-top-title {
  font-family: var(--font-popins);
  font-size: 14px;
  margin-bottom: 17px;
  margin-top: 0;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.footer-top-form__text {
  border: 1px solid #e5e5e5;
  font-size: 14px;
  outline: none;
  padding: 0 20px;
  height: 40px;
  color: #999;
  margin-bottom: 10px;
  float: left;
}

.footer-top-form__submit {
  position: relative;
  background-color: var(--white-color);
  display: inline-block;
}

.footer-top-form__submit:hover input {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--white-color);
}

.footer-top-form__submit:hover i {
  color: var(--white-color);
}

.footer-top-form__submit input {
  cursor: pointer;
  border: 2px solid #e5e5e5;
  height: 40px;
  background-color: var(--white-color);
  outline: none;
  padding: 0 18px 0 38px;
  font-size: 14px;
  color: var(--secondary-color);
}

.footer-top-form__submit i {
  position: absolute;
  top: 12px;
  left: 18px;
  color: var(--secondary-color);
}

.footer-top-social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-top-social__item {
  display: inline-block;
}

.footer-top-social__item a {
  text-decoration: none;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  line-height: 38px;
  margin: 0 2px;
  text-align: center;
  width: 40px;
  color: var(--secondary-color);
  background-color: var(--white-color);
  margin-bottom: 10px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.footer-top-social__item a:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  transform: translateY(-5px);
}

.footer-bottom-wrapper {
  background-color: #222222;
  color: #999999;
}

.footer-bottom {
  max-width: 1200px;
  padding: 45px 0;
  margin: 0 auto;
}

.footer-content {
  padding-left: 0;
  padding-right: 0;
}

.footer-bottom-title {
  font-family: var(--font-popins);
  font-size: 14px;
  color: var(--white-color);
  margin-bottom: 17px;
  text-transform: uppercase;
  margin-top: 0;
}

.footer-contact-content {
  list-style: none;
  padding: 0;
}

.footer-contact-content__item {
  position: relative;
  font-size: 14px;
  margin-bottom: 7px;
  padding-left: 30px;
  line-height: 24px;
}

.footer-contact-content__item i {
  position: absolute;
  left: 0;
  top: 5px;
  color: var(--white-color);
}

.footer-guides-content {
  padding: 0;
  list-style: none;
}

.footer-guides-content__item {
  margin-bottom: 7px;
}

.footer-guides-content__item a {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: #999999;
  cursor: pointer;
  position: relative;
  padding-left: 16px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}

.footer-guides-content__item a:hover {
  color: var(--primary-color);
}

.footer-guides-content__item a:hover i {
  color: var(--primary-color);
}

.footer-guides-content__item a i {
  font-size: 6px;
  text-decoration: none;
  color: var(--white-color);
  line-height: 24px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: -3px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s
}

.footer-payment-address {
  font-size: 14px;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-payment-address__title {
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-payment-address__img {
  margin: 0 10px;
}

.footer-payment-content {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-payment-content__item {
  display: inline-block;
}

.footer-payment-content__item a {
  display: inline-block;
  margin: 0 4px;
}

.footer-copyright {
  margin-top: 30px;
  padding-top: 35px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--white-color);
  font-size: 14px;
}

.footer-copyright__text {
  margin-top: 0;
  margin-bottom: 20px;
  padding-right: 0;
  padding-left: 0;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .footer-copyright__text {
    margin-bottom: 0;
  }
}

.footer-copyright__list {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  padding-right: 0;
  padding-left: 0;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .footer-copyright__list {
    text-align: right;
  }
}

.footer-copyright__list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-copyright__list ul li {
  display: inline-block;
  padding-right: 18px;
  margin-right: 14px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .footer-copyright__list ul li {
    margin-bottom: 0;
  }
}

.footer-copyright__list ul li:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}


.footer-copyright__list ul li a {
  text-decoration: none;
  color: var(--white-color);
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s
}

.footer-copyright__list ul li a:hover {
  color: var(--primary-color);
}